@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css';
@import 'https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css';
@import 'https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap5.min.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.showeTable {
  display: none;
}

.main-page {
  min-height: 50vw;
}